html {
    box-sizing: border-box;
    background: #FFFFFF;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
:root{
  --orange-color: #CC9933;
  --brown-color: #A47312;
  --white-color: #FFFFFF;
    --color-000: #000000;
    --color-414: #414141;
    --color-666: #666666;
    --color-rgba00005: rgba(0, 0, 0, 0.5);
    --color-CAC: #CACACA;
    --color-fff: #fff;
    --color-97E: #97EE3F;
    --color-E16: #E1670E;
    --color-FFB: #FFB84D;
    --color-FF9: #FF9900;
    --color-hover: #FFB84D;
    --color-focus: #FFB84D;
    --color-active: #E1670E;
    --color-border: #f90;
}
body {
    font-family: "Muller", sans-serif;
    font-weight: 400;
}
footer{
  background: #222222;
  margin-top: -3px;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

h3{
  margin: 0;
}

span{
  display: block;
}
* {box-sizing: border-box;}

@font-face {
    font-family: "Muller";
    src: local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/MullerRegular.woff") format("woff") ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Montserrat-SemiBold"), url("/fonts/Montserrat-SemiBold.woff") format("woff2"),
    url("/fonts/MullerLight.woff") format("woff") ;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* glob */
.btn {
  border: 1px solid var(--color-FF9);
  background: var(--color-FF9);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-hover);
  border: 1px solid var(--color-hover);
}

.btn:focus {
  background: var(--color-focus);
  border: 1px solid var(--color-focus);
}

.btn:active {
  background: var(--color-active);
  border: 1px solid var(--color-active);
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
}

.flex {
    display: flex;
}

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding: 0 54px 0 75px;
}
.section-title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 32px;
}

.main {
  max-width: 100%;
}

.hero {
  max-width: 100%;
}
/*header*/
.header{
  margin: 0;
}

.header__up{
padding: 14px 75px 10px 75px;
box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
position: relative;
}

.header__up__logo{
  justify-content: space-around
}

.header__nav{
    margin-left: auto;
    display: flex;
}
.header__nav__list{
  align-items: center;
}
.header__nav__item{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  align-items: center;
}

.header__nav__item:not(:last-child){
  margin-right: 85px;
}

.header__nav__item:last-child{
  margin-right: 75px;
}

.header__nav__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  margin-top: 15px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.header__nav__link:focus{
  outline: 2px solid #FF9900;
}

.header__nav__link:hover{
  outline: 2px solid #FF9900;
  padding: 5px;
}

.header__nav__link:active{
  text-decoration: underline #E1670E solid;
  color: #E1670E;
  outline: none;
  outline: none;
}

.header__nav__form__btn{
  border: none;
  margin: 25px 0px 0px 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-color: #FFFFFF;
  transition: outline 0.3s ease-in-out, fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}


.search-form{
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #FFFFFF;
  right: 0;
  top: -40px;
  opacity: 0;
  padding: 15px 20px;
  margin-right: 55px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transition: top .5s, opacity .5s;
}
.search-form_show{
  top: 10px;
  opacity: 1;
}

.search-form__input{
  padding: 8px 14px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #DCDCDC;
}

.search-form__input:focus{
  outline: none;
}

.search-form__send{
  padding-right: 20px;
  padding-left: 14px;
}

.header__nav__form__btn svg rect{
  fill: #333333;
}

.header__nav__form__btn svg path{
  stroke: #333333;
}

.header__nav__form__btn:focus{
outline: 2px solid #FF9900;
}
.header__nav__form__btn:hover svg rect{
fill: #FF9900;
}

.header__nav__form__btn:hover svg path{
stroke: #FF9900;
}


.slider{
  background-image: url("img/low-angle-photo-of-balconies-2462015\ 1.jpg");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  margin-right: 20px;
}
.swiper{
  width: 100%;
  height: 100%;
}

.slider__title{
  padding-top: 100px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin: 0px;
  max-width: 837px;
  letter-spacing: 1px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: center;
}
.btn_size_large {
  padding: 25px 37px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
}

.btn_size_large:hover {
  opacity: 70%;
}

.btn_size_large:focus {
  outline: none;
  opacity: 70%;
}

.btn_size_large:active {
  opacity: 100%;
}


.title {
  margin: 0;
  padding: 0;
  color: #333333;
}

.title_normal {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.title_small {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.title_middle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}


.main__slider {
  margin: 0 75px 100px 75px;
}

.slider {
  position: relative;
  padding: 102px 0 100px 80px;
  height: 620px;
}

.slider__slide {
}

.slider__wrapper {
  min-height: inherit;
}

.slider__swiper {
  position: absolute;
  min-height: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider__slide_img1 {
  background-image: url("/img/low-angle-photo-of-balconies-2462015\ 1.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide_img2 {
  background-image: url("/img/preview2.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide_img3 {
  background-image: url("/img/preview3.jpg");
  min-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.slider__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.slider__title {
  margin: 0 0 26px 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
/*   pointer-events: none; */
}

.slider__text {
  margin: 0 0 85px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 790px;
/*   pointer-events: none; */
}

.slider__button{
  pointer-events: auto;
}

.btn {
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  font-weight: bold;
  background-color: #FF9900;
  color: #FFFFFF;
  cursor: pointer;
  transition-property: background-color, border-color, opacity, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.btn_size_large {
  padding: 25px 37px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
}

.slider__control {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.btn_round {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
}

span.swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  margin: 0px 20px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 10px;
  margin-right: 10px;
}

/*about-us*/
.aboutus__content{
  max-width: 100%;
}
.aboutus__title{
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin-left: 0px;
  margin-bottom: 21px;
}

.aboutus__descr{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 69.5%;
  color: #333333;
  margin-bottom: 49px;
  font-style: normal;
}

.aboutus__left{
  background-image: url("/img/builder1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 48.5%;
  max-height: 622px;
  align-items: flex-end;
}

.aboutus__left__bottom{
  background: rgba(0, 0, 0, 0.5);
  min-height: 196px;
}
.aboutus__build{
  display: none;
}
.aboutus__left__descr{
  margin-top: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 50px;
}
.aboutus__blocks__right{
  width: 50.3%;
}

.photo320{
  display: none;
}

.aboutus__btn{
  margin: 71px 53px 71px 140px;
  outline: 3px solid #FF9900;
  padding: 19px 35px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.aboutus__btn:focus{
  background: #FF9900;
}

.aboutus__btn:hover{
  background: #FF9900;
}

.aboutus__btn:focus{
  background: #E1670E;
  outline: 3px solid #E1670E;;
}

.aboutus__blocks__right__2{
  min-height: 295px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  margin-left: 32px;
}

.aboutus__blocks__right__2:not(:last-child){
  margin-bottom: 32px;
}

.aboutus__blocks__right__photo{
  display: block;
  float: left;
  margin: 65px 50px 65px 60px;
}

.aboutus__blocks__right__title{
  margin-top: 64px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.aboutus__blocks__right__descr{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  max-width: 90%;
}

/*work*/
.work{
  font-weight: 400;
}
.work__title{
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
  font-weight: 400;
}
.work__item{
  width: 60%;
}
.work__info{
  width: 94%;
}
.list{
  justify-content: start;
  font-size: 18px;
  line-height: 22px;
  max-width: 490px;
}
.photo{
  max-width: 111%;
}
.list__item:not(:last-child){
  padding-right: 85px;
}

.tabs-nav__btn{
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.tabs-nav__btn--active{
  color: #E1670E;
}

.tabs-nav__btn--focus{
  border: 2px solid #FF9900;
}

.tabs-nav__btn--hover{
  color: #FF9900;
}

.tabs__item{
  display: none;
}

.tabs__item--active{
  display: flex;
}
.descr__title{
  line-height: 32px;
  text-align: left;
  margin-top: 45px;
  font-size: 24px;
  font-weight: 700;
}
.work__info_text{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 142px;
}

.work__btn{
  display: flex;
  flex-direction: row;

}

.info__descr{
  margin-right: 142px;
  width: 100%;
}

.descr__text{
  margin-top: 8px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  max-width: 100%;
}


.descr__btn{
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  border: 1px solid #333333;
  padding: 20px 38px;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.descr__btn:not(:last-child){
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  background-color: #FF9900;
  margin-right: 26px
}

.info__photo{
  margin-top: 55px;
}

.photo2{
  display: none;
}

.photo3{
  display: none;
}

/*asked-questions*/
.faq__container{
  margin-bottom: 105px;
  padding: 0 75px 0 75px;
}
.faq {
  width: 100%;
  margin: 0 auto;
}

.faq__title {
  margin-top: 100px;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}
.questions__slash{
  display: inline-block;
  color: #CACACA;
}
.faq__item{
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  margin-top: -1px;
  transition: border 0.3s ease-in-out;
}
.faq__item:first-child{
  border-top: 1px solid #CACACA;
}
.faq__item:last-child{
  border-bottom: 1px solid #CACACA;
}

.faq__item:hover{
  border-color:#FF9900;
}
.faq__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  width: 100%;
  border: 0;
  color: var(--color-000);
  transition: color 0.3s ease-in-out;
}

.faq__item:hover .faq__top {
  color: var(--color-border);
}

.faq__item:focus-within .faq__top {
  color: var(--color-border);
}

.faq__item:active .faq__top {
  color: var(--color-000);
}

.faq__top svg {
  transition: transform 0.3s ease-in-out;
}

.faq__item:active .faq__top:active svg,
.is-active svg {
  transform: rotate(45deg);
}

.faq__top ellipse {
  fill: var(--color-CAC);
  transition: fill 0.3s ease-in-out;
}

.faq__item:hover .faq__top ellipse {
  fill: var(--color-border);
}

.faq__top:hover:not(:focus) ellipse {
  fill: var(--color-border);
}

.faq__item:focus-within .faq__top ellipse {
  fill: var(--color-border);
}

.faq__top:focus:not(:active) ellipse {
  fill: var(--color-border);
}

.faq__item:active .faq__top ellipse {
  fill: var(--color-CAC);
}

.faq__top:active ellipse {
  fill: var(--color-CAC);
}

.faq__top path {
  fill: var(--color-000);
  transition: fill 0.3s ease-in-out;
}

.faq__item:hover .faq__top path {
  fill: var(--color-fff);
}

.faq__top:hover:not(:focus) path {
  fill: var(--color-fff);
}

.faq__item:focus-within .faq__top path {
  fill: var(--color-fff);
}

.faq__top:focus:not(:active) path {
  fill: var(--color-fff);
}

.faq__item:active .faq__top path {
  fill: var(--color-000);
}

.faq__top:active path {
  fill: var(--color-000);
}

.faq__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

.content {
  height: 0px;
  overflow: hidden;
  color: #000000;
}

.content-wrap {
  padding: 0 0 40px 40px;
  width: 57%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transition-delay: 0.3s;
}

.is-active .content-wrap {
  opacity: 1;
  visibility: visible;
}

.hide-text {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 32px;
}
/* footer */
.footer__list{
  flex-direction: column;
  margin-top: 5px;
  color: #CACACA;
  margin-right: 350px;
  min-width: 252px;
  margin-top: 20px;
}
.footer__left{
  max-width: 252px;
}
.footer__right{
  margin-left: 349px;
}
.footer__logo{
  flex-direction: column;
}
.footer__logo__end{
  width: 224px;
  height: 72px;
  margin-top: 50px;
}
.footer__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__link:focus{
  border: 2px solid #FF9900;
}

.footer__link:hover{
  color: #FF9900;
}

.footer__link:active{
  color: #E1670E;
  border: none;
}

.footer__icons{
  flex-direction: row;
  margin-top: 90px;
  transition: border 0.3s ease-in-out
}

.footer__photo svg{
  fill:#7C7C7C;
  transition: fill 0.3s ease-in-out
}

.footer__photo:focus svg{
  fill:#FF9900;
}

.footer__photo:focus{
  border: 2px solid #FF9900;
  padding: 5px;
}

.footer__photo:hover svg{
  fill: #FF9900;
}


.footer__photo:active svg{
  fill: #E1670E;
}

.footer__photo:active {
  border: none;
}

.footer__photo:not(:last-child){
  margin-right: 25px;
}
.footer__form{
  flex-direction: column;
}
.footer__text{
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.footer__item{
  max-width: 252px;
}

.footer__submit{
  margin-top: 50px;
  color: #CACACA;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 25px;
}

.footer__send__initials{
  background: #414141;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
  height: 60px;
  width: 570px;
  margin-bottom: 25px;
  border: none;
  padding-left: 24px;
}

.send-info{
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out ;
}

.send-info:focus{
  background: #666666;
}

.send-info:hover{
  background: #666666;
}

.send-info:active{
  background: #666666;
  color: #FFFFFF;
}

.footer__send__email{
  background: #414141;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
  height: 60px;
  width: 570px;
  margin-bottom: 25px;
  border: none;
  padding-left: 24px;
}

.footer__send__massenge{
  background: #414141;
  color: #CACACA;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
  border: none;
  max-width: 570px;
  padding: 14px 0px 0px 24px;
  min-height: 150px;
}


.footer__btn__send{
  background: #FF9900;
  color: #FFFFFF;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 269px;
}

.footer-send{
  position: relative;
}

.footer__agreement{
  color: #CACACA;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  margin-left: 22px;
}

.footer__checkbox{
  border: 2px solid #CACACA;
  margin-top: 25px;

}

.footer__text{
  margin: 137px 0px 137px 236px;
  color: #CACACA;
  width: 363px;
}

